{
  "botName": "greenhambot",
  "debug": false,
  "discord": {
    "token": "YOUR DISCORD APP TOKEN",
    "adminID": "YOUR DISCORD USER ID",
    "master": true,
    "guilds": {
      "GUILD ID": {
        "internalName": "GUILD NAME",
        "id": "GUILD ID",
        "prefix": "!",
        "enableSfx": true,
        "allowedSfxChannels": "piped|list|of-valid-channels",
        "sfxVolume": 0.5,
        "passes": 2,
        "enableFunFacts": true,
        "enableHamFacts": true
      },
      "SECOND GUILD ID": {
        "internalName": "SECOND GUILD NAME",
        "id": "SECOND GUILD ID",
        "prefix": "!",
        "enableSfx": true,
        "allowedSfxChannels": "piped|list|of-valid-channels",
        "sfxVolume": 0.5,
        "passes": 2,
        "enableFunFacts": true,
        "enableHamFacts": true
      },
    },
    "activities": [
      "that gum you like"
    ]
  }
}